.elevator {
  &--table {
    border: 1px solid gray;
    tr {
      &:first-child {
        td {
          border-top: none;
        }
      }
    }
    h6 {
      width: 100px;
      opacity: 0.4;
    }
  }
  &--indicator {
    $size: 40px;
    height: $size;
    width: $size;
    content: "";
    background-color: rgba($color4,.2);
    overflow: hidden;
    border: 1px solid rgba($color4,.2);
    &:after{
      height: $size;
      width: $size;
      content: '';
      display: block;
      background-color: $color4;
      transform: translateX(0);
    }
    
    &.active {
      border-color: $color4;
    }
    
    &.open{
      &::after{
        transform: translateX(-50%);
      }
    }
  }

  &--button {
    &+&{
        margin-left: 1em;
    }
    color: $color4;
    &.requested {
      color: $primary;
    }
  }

  &--logger{
      overflow: auto;
      max-height: 100%;
      display: flex;
      flex-direction: column;

      .pre{
          display: flex;
          flex-direction: column-reverse;
      }
  }
}
